@import '../sections';

table {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

table th, td {
    padding: .7em;
}

table tr:nth-child(even) {
    background-color: $bg-alt;
}

table tr:nth-child(odd) {
    background-color: $bg-default;
}

.text-highlight {
    font-weight: bold;
    font-size: 1.3em;
    color: $text-light;
}
