<section id="schooling">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ausbildung</h2>
                <h3 class="section-subheading text-muted">Alle Infos zur Ausbildung bei uns</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h4 class="item-heading" id="tryout">Schnuppern</h4>
                <p class="text-muted">
                    Du kannst in Begleitung eines Fluglehrers direkt in 4
                    <i>aufeinanderfolgenden</i> Samstagen loslegen. Du sitzt direkt mit am Knüppel und kannst den
                    ganzen Flug über mitfühlen, erste Flugerfahrung sammeln und dich vom Segelfliegen überzeugenlassen.
                    Sämtliche gewonnenen Kenntnisse werden dir, solltest du dich nach deiner Schnuppermitgliedschaft
                    für einen Beitritt entsscheiden, für deine weitere Ausbildung angerechnet. Das Schnuppern kostet
                    einmalig <i>10&euro;</i> für die Versicherung, <i>5&euro;</i> für jeden
                    Start sowie <i>0,25&euro;</i> für jede Flugminute. Im Schnitt ergeben sich so ca.
                    <strong>25-50&euro;</strong> pro Flugtag.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <h4 class="item-heading" id="membership">Mitgliedschaft</h4>
                <p class="text-muted">
                    Der Beitritt zum Verein kostet einmalig <strong>160&euro;</strong>
                    (<i>80&euro;</i> für Vergünstigte*) und es fallen ab dann monatliche
                    Beiträge in der Höhe von <strong>30&euro;</strong> (<i>16&euro;</i> für Vergünstigte*) an.
                    Als Mitglied ist man voll ausbildungsfähig und man ist stimmberechtigt in
                    den Vollversammlungen des Vereins.
                    <br>
                    * <i>Vergünstigungen gelten für Stundenten, Azubis und Geringstverdiener</i>
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="item-heading" id="pricing">Fluggebühren</h4>
                <table class="text-muted">
                    <tr>
                        <th></th>
                        <th>Schüler</th>
                        <th>Scheinpilot</th>
                    </tr>
                    <tr>
                        <th>Windenstart</th>
                        <td id="pricing-start-student">3,50&euro;</td>
                        <td id="pricing-start">4&euro;</td>
                    </tr>
                    <tr>
                        <th>Flugminute (0-180 min)</th>
                        <td id="pricing-flight-student">0,15&euro;</td>
                        <td id="pricing-flight">0,25&euro;</td>
                    </tr>
                    <tr>
                        <th>Flugminute ab 180 min</th>
                        <td>frei</td>
                        <td>frei</td>
                    </tr>
                </table>
                <p class="text-muted">
                    Flug über 3 Stunden wird mit damit belohnt, dass ab der 180. Minute keine Fluggebühren mehr erhoben
                    werden. Ein Flug mit 5 Stunden kostet also dasselbe wie 3 Stunden.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="item-heading" id="prerequisites">Ausbildungsablauf</h4>
                <p class="text-muted">
                    Der erste Ausbildungsabschnitt ist zugleich der wichtigste und vermittelt dir die Grundlagen des
                    Segelfliegens. Er wird mit der A-Prüfung abgeschlossen, welche aus deinen ersten drei Alleinflügen
                    besteht und von vielen "alten Hasen" heute noch als das größte Erlebnis ihrer Fliegerlaufbahn
                    bezeichnet wird. Bis dahin werden etwa 70 Starts und Landungen benötigt, was jedoch stark von der
                    persönlichen Vorraussetzung und Motivation variiert. Nach einigen Alleinflügen mit dem Doppelsitzer
                    wirst Du auf eines unserer einsitzigen Flugzeuge umgeschult.
                </p>
                <p class="text-muted">
                    Im zweiten und dritten Ausbildungsabschnitt (B und C Prüfungen) wirst Du mit den Feinheiten des
                    Segelfliegens und den Grundlagen des Streckensegelfluges vertraut gemacht. Abschließend führst
                    Du allein deinen ersten Streckenflug über 50 km durch. Insgesamt sind für den Erwerb des
                    Pilotenscheins für Segelflugzeuge mindestens 30 Flugstunden vorgeschrieben, von welchen mindestens
                    15 Stunden im Alleinflug durchzuführen sind.
                </p>
                <p class="text-muted">
                    Der theoretische Teil beinhaltet die Fächer Luftrecht, Navigation, Meteorologie, Technik, Verhalten
                    in besonderen Fällen und menschliches Leistungsvermögen. Die Theorie umfasst 60 Unterrichtsstunden
                    die normalerweise im Winter stattfinden. Außerdem ist der Erwerb eines
                    <a target="_blank" href="https://de.wikipedia.org/wiki/Sprechfunkzeugnis_(Luftfahrt)">Flugsprechfunkzeugnisses</a>
                    und eines Erste-Hilfe-Zeugnisses erforderlich.
                </p>
                <h4 class="item-heading" id="exam">Amtliche Prüfungen</h4>
                <p class="text-muted">
                    Die theoretische Prüfung kann bereits nach der praktischen C-Prüfung erfolgen, die finale praktische
                    Prüfung, die aus drei Flügen mit einem Mitglied der Prüfungskommission besteht, darf allenfalls
                    ein Jahr später abgelegt werden. Danach händigt dir die zuständige Behörde auf Antrag den
                    <a target="_blank" href="https://de.wikipedia.org/wiki/Luftfahrerschein_f%C3%BCr_Segelflugzeugf%C3%BChrer">
                    Luftfahrerschein für Segelflugzeugführer</a> aus.
                </p>
            </div>
        </div>
        <h4 class="item-heading">Anforderungen an Dich</h4>
        <div class="row">
            <div class="col-md-3">
                <h5>Zeit</h5>
                <p class="text-muted">
                    Da wir normalerweise Samstags Flugbetrieb haben, ist es unerlässlich dass Du da dann auch öfters Zeit
                    hast. Je öfter Du fliegst, desto steiler ist auch deine Lernkurve. Ein Flugtag beginnt
                    grundsätzlich um 10:00 mit dem Ausräumen des Hangars und endet mit dem Einräumen am Abend.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Gesundheit</h5>
                <p class="text-muted">
                    Vor deinem ersten Alleinflug benötigst Du ein <i>Lufttauglichkeitszeugnis/Medical Klasse 2</i>.
                    Dies wird vom Fliegerarzt ausgestellt, stellt jedoch nur in seltenen Fällen ein Hindernis dar.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Finanzen</h5>
                <p class="text-muted">
                    In den Sommer- und Flugmonaten (grundsätzlich April-Oktober) kommen im Schnitt ca. <i>110&euro;/Monat</i>
                    auf dich zu. Dies variiert natürlich stark anhand der Anzahl der Starts und Flugminuten. In den
                    Wintermonaten ist ausschließlich der monatliche Mitgliedsbeitrag fällig.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Engagement</h5>
                <p class="text-muted">
                    In den Wintermonaten leistet jedes Mitglied Winterarbeitsstunden, in denen unser Gerät gepflegt wird
                    oder sonstige Projekte verwirklicht werden. Die Anzahl der Winterarbeitsstunden wird jedes Jahr
                    demokratisch neu festgelegt und lag in den letzten Jahren immer zwischen 30 und 35 Stunden.
                </p>
            </div>
        </div>
    </div>
</section>
