<section id="weather">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Wetter und Thermik</h2>
            </div>
        </div>
        <hr>
        <div *ngFor="let item of weatherItems" class="row space-bottom">
            <div class="col-md-4">
                <h3 class="text-muted text-center">{{item.cityName}}</h3>
                <img src="https://openweathermap.org/img/w/{{item.iconName}}.png"
                     alt="descriptive weather icon"
                     class="img-fluid mx-auto d-block">
            </div>
            <div class="col-md-4">
                <p class="font-larger">
                    <span class="text-muted">Wetter&nbsp;aktuell:</span> {{item.cloudsDescription}}
                </p>
                <p class="font-larger">
                    <span class="text-muted">Luftdruck:</span>&nbsp;{{item.pressure}}&nbsp;hPa
                </p>
                <p class="font-larger">
                    <span class="text-muted">Luftfeuchtigkeit:</span>&nbsp;{{item.humidity}}%
                </p>
            </div>
            <div class="col-md-4">
                <p class="font-larger">
                    <span class="text-muted">Außentemperatur:</span>&nbsp;{{item.temperature}}°C
                </p>
                <p class="font-larger">
                    <span class="text-muted">Windgeschwindigkeit:</span>&nbsp;{{item.windSpeed}}&nbsp;m/s
                </p>
                <p class="font-larger">
                    <span class="text-muted">Windausrichtung:</span>&nbsp;{{item.windDirection}}
                </p>
            </div>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12 text-center">
                <button class="btn btn-lg btn-wide btn-primary" (click)="loadWeather()">
                    <i class="fa fa-refresh fa-lg fa-fw"></i>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <app-alert></app-alert>
            </div>
        </div>
    </div>
</section>
