<div id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-main navbar-fixed-top" data-spy="affix" data-offset-top="100">
        <div class="container">
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" pageScroll href="#page-top">Akaflieg Köln e.V.</a>
            </div>

            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" id="login-drop-btn" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-lg fa-fw"></i><span class="caret"></span>
                        </a>
                        <ul id="login-drop" class="dropdown-menu">
                            <li>
                                <button class="btn btn-primary btn-block" routerLink="/dashboard">Als Gast fortfahren</button>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        Login via
                                        <div class="social-buttons">
                                            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
                                            <a href="#" class="btn btn-gp"><i class="fa fa-google-plus"></i>&nbsp;Google</a>
                                        </div>
                                        oder
                                        <form class="form" role="form" method="post" action="login"
                                              accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="emailInput">Email</label>
                                                <input type="email" class="form-control" id="emailInput" placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="passwordInput">Passwort</label>
                                                <input type="password" class="form-control" id="passwordInput" placeholder="Passwort" required>
                                                <div class="help-block text-right"><a href="#">Passwort vergessen?</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Einloggen
                                                </button>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">&nbsp;eingeloggt bleiben
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-sandwich">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars fa-lg"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-sandwich">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a pageScroll href="#about">Über uns</a>
                    </li>
                    <li>
                        <a pageScroll href="#planes">Flugzeuge</a>
                    </li>
                    <li>
                        <a pageScroll href="#schooling">Ausbildung</a>
                    </li>
                    <li>
                        <a pageScroll href="#news">News</a>
                    </li>
                    <li>
                        <a pageScroll href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Willkommen bei der Akaflieg Köln!</div>
                <div class="intro-heading">Spa&szlig; am gemeinsamem Fliegen</div>
                <a href="#about" pageScroll class="btn btn-primary btn-xl">Erfahre mehr</a>
            </div>
        </div>
    </header>

    <!-- Body processed by Angular -->
    <main>
        <!-- About Section -->
        <app-about></app-about>
        <!-- Planes Section -->
        <app-planes></app-planes>
        <!-- Schooling Section -->
        <app-schooling></app-schooling>
        <!-- News Section -->
        <app-news></app-news>
        <!-- Affiliates -->
        <app-affiliates></app-affiliates>
        <!-- Contact Section -->
        <app-contact></app-contact>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Akaflieg Köln e.V. 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Akaflieg" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/113051736365017647290" target="_blank"><i
                                class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#privacyPolicy" pageScroll
                               (click)="togglePrivacyExtension()">Datenschutzbestimmungen</a>
                        </li>
                        <li><a href="#termsOfUse" pageScroll
                               (click)="toggleTermsExtension()">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <privacy-policy *ngIf="togglePrivacy"></privacy-policy>
    <terms-of-use *ngIf="toggleTerms"></terms-of-use>

</div>
