<div id="page-top">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-main navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-sandwich">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Akaflieg Köln e.V.</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-sandwich">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">Über uns</a>
        </li>
        <li>
          <a class="page-scroll" href="#planes">Flugzeuge</a>
        </li>
        <li>
          <a class="page-scroll" href="#schooling">Ausbildung</a>
        </li>
        <li>
          <a class="page-scroll" href="#news">News</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Kontakt</a>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="userDashboard.html">Interna&nbsp;<span class="caret"></span></a>
          <ul id="login-drop" class="dropdown-menu">

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Willkommen bei der Akaflieg Köln!</div>
      <div class="intro-heading">Spa&szlig; am gemeinsamem Fliegen</div>
      <a href="#about" class="page-scroll btn btn-primary btn-xl">Erfahre mehr</a>
    </div>
  </div>
</header>

<!-- Body processed by Angular -->
<main>
  <!-- About Section -->
  <app-about></app-about>
  <!-- Planes Section -->
  <app-planes></app-planes>
  <!-- Schooling Section -->
  <app-schooling></app-schooling>
  <!-- News Section -->
  <app-news></app-news>
  <!-- Affiliates -->
  <app-affiliates></app-affiliates>
  <!-- Contact Section -->
  <app-contact></app-contact>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Akaflieg Köln e.V. 2016</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/Akaflieg" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://plus.google.com/113051736365017647290" target="_blank"><i class="fa fa-google-plus-official"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="privacyPolicy.html">Datenschutzbestimmungen</a>
          </li>
          <li><a href="termsOfUse.html">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</div>
