<section id="public">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Veröffentlichungen</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <aside id="left" class="col-md-2">
                <nav>
                    <ul class="nav nav-pills nav-stacked" data-spy="affix">
                        <li><a>Veröffentlichungen</a></li>
                    </ul>
                </nav>

            </aside>

            <main class="col-md-10">

            </main>

        </div>
    </div>
</section>
