<section id="public">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Gallerie</h2>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <!--
            <aside id="left" class="col-md-2">
              <nav>
                <ul class="nav nav-pills nav-stacked" data-spy="affix">
                  <li><a>Veröffentlichungen</a></li>
                </ul>
              </nav>

            </aside>
            -->

            <main class="col-md-12">
                <div class="img-carousel">
                    <carousel [sources]="imageSources" [config]="config"></carousel>
                </div>
            </main>

        </div>
    </div>
</section>
