@import 'scss/buttons';
@import 'scss/footer';
@import 'scss/header';
@import 'scss/images';
@import 'scss/navigation';
@import 'scss/socialMedia';
@import 'scss/colors';
@import 'scss/mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

/* --- General --- */
body {
  overflow-x: hidden;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.bg-alt {
  background-color: $bg-alt;
}

.text-muted {
  color: $text-light;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}
