<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Über uns</h2>
        <h3 class="section-subheading text-muted">Der Verein stellt sich vor</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h4 class="item-heading">Unser Verein</h4>
        <p class="text-muted">
          Herzlich willkommen bei der AKAFLIEG Köln e.V. Unser vorrangiges Ziel ist es, möglichst vielen Interessierten das
          Erlebnis des Segelfliegens zugänglich zu machen. Zu diesem Zweck werden in unserem Verein während jeder
          Flugsaison sowohl Anfänger als auch Fortgeschrittene in die Technik und Taktik des Segelfliegens eingeweiht.
          Von Ostern bis in den Spätherbst hinein findest Du uns jeden Samstag auf dem ca. 70 km von Köln entfernten
          <a href="http://www.dahlemer-binz.de/" target="_blank">Flugplatz Dahlemer Binz/Eifel</a>, wo wir <a href="#planes" pageScroll>unser Flugzeuge</a>
          für den Flugbetrieb stationiert haben.
        </p>
        <h4 class="item-heading">Unsere Vorteile</h4>
        <p class="text-muted">
          Dank einer Ausbildungsgemeinschaft am Platz ist Fliegen teilweise auch
          an Sonn- und Feiertagen möglich. Außerdem hat der Flugplatz neben seiner sehr schönen Lage,
          außerordentlich günstige meteorologische Bedingungen sowie einen unbeschränkten Luftraum.
        </p>
      </div>
    </div>
  </div>
</section>
