@import 'colors';
@import 'mixins';
/* --- Buttons & Anchors --- */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: $default;
}

.btn-primary {
  background-color: $default;
    border-color: $default;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus {
  background-color: $default;
  border-color: $default;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: $default;
    color: $default;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus {
    background-color: $default !important;
    border-color: $default !important;
}

.btn-xl {
  color: white;
  background-color: $default;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 40px;
}

.btn-xl:hover,
.btn-xl:active,
.btn-xl.active,
.btn-xl:focus {
  color: white;
  background-color: $default-light;
  border-color: $default;
}

.btn-wide {
  width: 7em;
}

/* --- Social Media --- */
ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: $default;
  height: 40px;
  width: 40px;
  @include border-radius(100%);
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  @include transition(all 0.3s);
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active,
ul.social-buttons li a.active {
  background-color: $default-highlight;
}

.btn-fb {
  width: 49%;
  margin: auto;
  color: #fff;
  background-color: $fb-default;
}

.btn-fb:hover {
  color: #fff;
  background-color: $fb-light;
}

.btn-gp {
  width: 49%;
  margin: auto;
  color: #fff;
  background-color: $gp-default;
}

.btn-gp:hover {
  color: #fff;
  background-color: $gp-light;
}

.btn-circle,
.btn-circle:focus {
    background-color: $btn-trans-default;
    @include border-radius(100%);
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
}

.btn-circle:hover,
.btn-circle:active,
.btn-circle.active {
    background-color: $default-light;
}
