@import '../styles';

.offset_top {
    margin-top: 5em;
}

.symbol-spacer {
    margin-right: .25em;
}

.back-to-top {
    position: fixed;
    top: 82.5vh;
    right: 2vh;
    border: none;
    z-index: 9999;
}

.shift-sm {
    margin-top: -.2em;
    margin-left: -.05em;
}
