@import 'colors';
/* --- Buttons & Anchors --- */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: $default;
}
.btn-xl {
  color: white;
  background-color: $default;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 40px;
}
