/* --- General --- */
$default: #326c95;
$default-light: lightskyblue;
$default-danger: #e74c3c;
$bg-default: white;
$bg-alt: #eee;

/* --- Text --- */
$text-default: #222;
$text-light: #777;

/* --- Buttons --- */
$btn-file-default: seagreen;
$btn-file-hover: #31814a;
