@import 'colors';
@import 'mixins';
/* --- Main Navbar --- */
.navbar-main {
  background-color: $default;
  border-color: transparent;
}
.navbar-main .navbar-brand {
  color: white;
}
.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:focus,
.navbar-main .navbar-brand:active,
.navbar-main .navbar-brand.active {
  color: white;
}
.navbar-main .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-main .navbar-toggle {
  background-color: $default;
  border-color: $default;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-main .nav li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-main .nav li a:hover,
.navbar-main .nav li a:focus{
  color: $default-light;
  outline: none;
}
.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus {
  color: white;
  background-color: $default-light;
}

.navbar-main .navbar-nav li a#interna-link {
  margin-left: 75px;
  border-left: solid 1px white;
}

@media (min-width: 768px) {
  .navbar-main {
    background-color: transparent;
    padding: 25px 0;
    @include transition(padding 0.3s);
    border: none;
  }
  .navbar-main.affix {
    background-color: $default;
    padding: 10px 0;
  }
  .navbar-main .navbar-brand {
    visibility: hidden;
    @include transition(all 0.3s);
  }
  .navbar-main.affix .navbar-brand {
    visibility: visible;
    font-size: 2em;
  }
  .navbar-main .navbar-nav > .active > a {
    @include border-radius(3px);
  }
}
