<section id="profileHome">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Mein Profil</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-sm-3 text-uppercase">Benutzername:</div>
          <div class="col-sm-3 text-muted">{{dashboard.dummy.username}}</div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Neuer Benutzername" id="username">
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary text-uppercase">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-uppercase">Name:</div>
          <div class="col-sm-3 text-muted">{{dashboard.dummy.name}}</div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" id="profileName">
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary text-uppercase">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-uppercase">Email:</div>
          <div class="col-sm-3 text-muted">{{dashboard.dummy.email}}</div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Neue Email Addresse" id="profileEmail">
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary text-uppercase">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 text-uppercase">Bearbeitungsrechte:</div>
          <div class="col-sm-3 text-muted">{{dashboard.dummy.access}}</div>
          <div class="col-sm-3">
            <div class="form-group">
              <select class="form-control" id="accessSelect" title="accessSelect">
                <option>Beobachter</option>
                <option>Verwalter</option>
                <option>Administrator</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary text-uppercase">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-primary">Passwort ändern</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
