<section id="planes" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Unsere Flugzeuge</h2>
        <h3 class="section-subheading text-muted">Mache dich mit unseren Spielzeugen vertraut</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <img class="img-circle img-responsive img-planes" src="./assets/img/planes/sf34.jpg" alt="SF34">
        <h4 class="item-heading">SF-34</h4>
        <h5 class="text-muted">- Unser Ausbildungszweisitzer -</h5>
        <p class="text-muted">Jeder Flugschüler absolviert hier mindestens 15 Stunden Flugzeit während seiner Ausbildung.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img class="img-circle img-responsive img-planes" src="./assets/img/ls4.jpg" alt="LS4">
        <h4 class="item-heading">LS-4</h4>
        <h5 class="text-muted">- Die Elegante -</h5>
        <p class="text-muted">Hat sehr gute Flugeigenschaften und ist das erste Flugzeug, das Du in der Ausbildung allein fliegst.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img class="img-circle img-responsive img-planes" src="./assets/img/planes/ls11.jpg" alt="LS11">
        <h4 class="item-heading">LS-11</h4>
        <h5 class="text-muted">- Unsere Hochleistungsflieger -</h5>
        <p class="text-muted">Sie hat mit ein sehr gutes Gleitverhältnis und wird von den erfahreneren Piloten geflogen.</p>
      </div>
    </div>
  </div>
</section>
