<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-dashboard navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" routerLink="./home">Willkommen</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="./weather">Wetter und Thermik</a></li>
                    <li><a routerLink="./share">Projekte und Öffentliches</a></li>
                    <li><a routerLink="./cms">Content Management</a></li>
                    <li><a routerLink="/index">Ausloggen</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="offset_top">
        <router-outlet></router-outlet>
    </main>

</div>
