<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-dashboard navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" routerLink="./home">Willkommen</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="./weather">Wetter und Thermik</a></li>
                    <li><a routerLink="./share">Projekte und Öffentliches</a></li>
                    <li><a routerLink="./cms">Content Management</a></li>
                    <li><a routerLink="/index">Ausloggen</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Akaflieg Köln e.V. 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Akaflieg" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/113051736365017647290" target="_blank">
                            <i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#" (click)="togglePrivacyExtension()">Datenschutzbestimmungen</a>
                        </li>
                        <li><a href="#" (click)="toggleTermsExtension()">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <privacy-policy *ngIf="togglePrivacy"></privacy-policy>
    <terms-of-use *ngIf="toggleTerms"></terms-of-use>

</div>
