@import '../app.component';

.offset_top {
  margin-top: 5em;
}

.symbol-spacer {
  margin-right: .25em;
}

/* --- Dashboard Navbar --- */
.navbar-dashboard {
  background-color: $default;
  border-color: transparent;
  padding: 10px 0;
}

.navbar-dashboard .nav-link {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white !important;
}

.navbar-dashboard .nav-link:hover,
.navbar-dashboard .nav-link:active,
.navbar-dashboard .nav-link.active {
  color: $default-highlight !important;
  outline: none;
}

.navbar-dashboard .navbar-brand {
  color: white;
  font-family: 'Courgette', serif;
}