<section id="termsOfUse" class="space-top">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h6 class="text-muted">AKAFLIEG Köln e.V.</h6>
                <p>
                    <a href="mailto:info@akaflieg-koeln.de?Subject=Informationen%20zum%20Verein">info@akaflieg-koeln.de</a><br>
                    Registergericht: Amtsgericht Köln<br>
                    Registernummer: VR 4081
                </p>
            </div>
            <div class="col-4">
                <h6 class="text-muted">Postanschrift</h6>
                <p>
                    Universität Köln<br>
                    Albertus-Magnus-Platz<br>
                    50931 Köln<br>
                </p>
            </div>
            <div class="col-4">
                <h6 class="text-muted">Webadmin</h6>
                <p id="webadmin">
                    Patrick Jominet<br>
                    <a href="mailto:mailto:info@akaflieg-koeln.de?Subject=Belangen%20für%20den%20Webadmin">admin@akaflieg.de</a>
                </p>
            </div>
        </div>
    </div>
</section>
