<section id="termsOfUse" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Impressum</h1>
        <div class="row">
          <div class="col-lg-3 col-sm-3">
            <p class="text-muted"><strong>AKAFLIEG Köln e.V.</strong></p>
            <p>
              Universität Köln<br>
              Albertus-Magnus-Platz<br>
              <br>
              50931 Köln<br>
              <br>
              <a href="mailto:info@akaflieg-koeln.de?Subject=Informationen%20zum%20Verein">info@akaflieg-koeln.de</a><br>
              Registergericht: Amtsgericht Köln<br>
              Registernummer: VR 4081<br>
              <br>
              Mitglied im <a href="http://www.aeroclub-nrw.de/">Deutschen Aero-Club e.V.</a>
            </p>
          </div>
          <div class="col-lg-3 col-sm-3">
            <p class="text-muted"><strong>Vorstand</strong></p>
            <ul>
              <li>
                <p class="text-muted">Vorsitzender</p>
                <p>
                  Max Muster<br>
                  <a href="mailto:max@muster.de">max@muster.de</a>
                </p>
              </li>
              <li>
                <p class="text-muted">Stellv. Vorsitzender, Schriftführer</p>
                <p>
                  Max Muster<br>
                  <a href="mailto:max@muster.de">max@muster.de</a>
                </p>
              </li>
              <li>
                <p class="text-muted">Geschäftsführer</p>
                <p>
                  Max Muster<br>
                  <a href="mailto:max@muster.de">max@muster.de</a>
                </p>
              </li>
              <li>
                <p class="text-muted">Vertreter der Studentenschaft</p>
                <p>
                  Max Muster<br>
                  <a href="mailto:max@muster.de">max@muster.de</a>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-3">
            <p class="text-muted"><strong>Beiratsmitglieder</strong></p>
            <ul>
              <li>
                <p class="text-muted">Ausbildungsleiter</p>
                <p>
                  Siegfried Piontkowski<br>
                  <a href="mailto:piontkowski@akaflieg-koeln.de">piontkowski@akaflieg-koeln.de</a><br>
                  Tel.: 02241 - 40 71 80 oder 0171 - 109 31 92
                </p>
              </li>
              <li>
                <p class="text-muted">Technischer Leiter</p>
                <p>
                  Rainer Piontkowski<br>
                  <a href="mailto:piontkowski@akaflieg-koeln.de">piontkowski@akaflieg-koeln.de</a><br>
                  Tel.: 02241 - 40 71 25 oder 0151 - 15 24 15 18
                </p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-3">
            <p class="text-muted"><strong>Postanschrift</strong></p>
            <p>
              Akaflieg Köln e.V.<br>
              z.Hd.: Peter Leister<br>
              Kalk-Mülheimer Strasse 390<br>
              51065 Köln
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
