@import '../app.component';
/* --- Main Navbar --- */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: $default-highlight;
}

.navbar-main {
  background-color: $default;
  border-color: transparent;
}

.navbar-main .navbar-brand {
  font-family: 'Courgette', serif;
  color: white;
}

.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:active,
.navbar-main .navbar-brand.active {
  color: white;
}

.navbar-main .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-main .navbar-toggle {
  background-color: $default;
  border-color: $default;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-main .nav > li > a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.navbar-main .nav > li > a:hover {
  color: $default-highlight;
  outline: none;
}

.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus {
  color: white;
  background-color: $default-highlight;
}

@media (min-width: 768px) {
  .navbar-main {
    background-color: transparent;
    padding: 25px 0;
    @include transition(padding 0.3s);
    border: none;
  }
  .navbar-main.affix {
    background-color: $default;
    padding: 10px 0;
  }
  .navbar-main .navbar-brand {
    visibility: hidden;
    @include transition(all 0.3s);
  }
  .navbar-main.affix .navbar-brand {
    visibility: visible;
    font-size: 1.8em;
  }
  .navbar-main .navbar-nav > .active > a {
    @include border-radius(3px);
  }
}

/* --- Main Header --- */
header {
  background: $bg-default url('../../assets/img/header-bg.jpg') no-repeat center center scroll;
  @include background-size(cover);
  text-align: center;
  color: $text-default;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  font-family: 'Courgette', serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Courgette', serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Montserrat', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 50px;
  }
}