<div id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark fixed-top navbar-main"
         ngx-sticky [addClass]="'affix'" id="navigation">
        <div class="container-fluid">
            <div class="mr-auto ml-4">
                <a pageScroll class="navbar-brand" href="#page-top">Akaflieg Köln e.V.</a>
            </div>

            <button type="button" class="navbar-toggler navbar-toggler-right mr-2"
                    (click)="isCollapsed = !isCollapsed"
                    aria-controls="navbar-hamburger" [attr.aria-expanded]="!isCollapsed">
                <i class="fa fa-lg fa-bars" aria-hidden="true"></i>
            </button>

            <a routerLink="/dashboard/weather" id="single-link" class="btn navbar-toggler ml-auto mr-md-2">
                Verein&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>

            <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbar-hamburger">
                <div class="nav navbar-nav ml-auto mr-4">
                    <a pageScroll href="#page-top" class="nav-item nav-link ml-auto"
                       (click)="isCollapsed = !isCollapsed">
                        <span class="mobile-only">Top</span>
                    </a>
                    <a pageScroll href="#about" class="nav-item nav-link ml-auto"
                       (click)="isCollapsed = !isCollapsed">
                        Über uns
                    </a>
                    <a pageScroll href="#planes" class="nav-item nav-link ml-auto"
                       (click)="isCollapsed = !isCollapsed">
                        Flugzeuge
                    </a>
                    <a pageScroll href="#schooling" class="nav-item nav-link ml-auto"
                       (click)="isCollapsed = !isCollapsed">
                        Ausbildung
                    </a>
                    <a pageScroll href="#contact" class="nav-item nav-link ml-auto"
                       (click)="isCollapsed = !isCollapsed">
                        Kontakt
                    </a>
                    <a routerLink="/dashboard/weather" class="nav-item nav-link ml-auto">
                        Verein&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Willkommen bei der Akaflieg Köln!</div>
                <div class="intro-heading">Spa&szlig; am gemeinsamen Fliegen</div>
                <a pageScroll href="#about" class="btn btn-primary btn-xl no-mobile">Erfahre mehr</a>
            </div>
        </div>
    </header>

    <main data-spy="scroll" data-target="#navigation" data-offset="5">
        <a pageScroll class="btn btn-primary btn-circle back-to-top"
           href="#page-top">
            <i class="fa fa-lg fa-caret-up"></i>
        </a>
        <!-- About Section -->
        <app-about></app-about>
        <!-- Planes Section -->
        <app-planes></app-planes>
        <!-- Schooling Section -->
        <app-schooling></app-schooling>
        <!-- Affiliates -->
        <app-affiliates></app-affiliates>
        <!-- Contact Section -->
        <app-contact></app-contact>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Akaflieg Köln e.V. 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/Akaflieg" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://plus.google.com/113051736365017647290" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a pageScroll href="#pageEnd"
                               (click)="hidePrivacy = !hidePrivacy">Datenschutzbestimmungen</a>
                        </li>
                        <li class="list-inline-item">
                            <a pageScroll href="#pageEnd"
                               (click)="hideTerms = !hideTerms">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <app-privacy-policy *ngIf="!hidePrivacy"></app-privacy-policy>
    <app-imprint *ngIf="!hideTerms"></app-imprint>
    <div id="pageEnd"></div>

</div>
