<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Verwaltung&nbsp;<i class="fa fa-lock" aria-hidden="true"></i></h2>
            </div>
        </div>
        <hr>
        <div class="">
            <form (ngSubmit)="login()" [formGroup]="loginForm" accept-charset="UTF-8">
                <div class="form-group row" [ngClass]="{ 'has-error': submitted && form.username.errors }">
                    <div class="col-xs-6 col-md-4 col-md-offset-2">
                        <label class="sr-only" for="usernameInput">Benutzername</label>
                        <input type="text" class="form-control" id="usernameInput" placeholder="Benutzername"
                               formControlName="username" autocomplete="off">
                    </div>
                    <div *ngIf="submitted && form.username.errors" class="invalid-feedback col-xs-pull-6">
                        <div *ngIf="form.username.errors.required">Benutzername fehlt!</div>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-error': submitted && form.password.errors }">
                    <div class="col-xs-6 col-md-4 col-md-offset-2">
                        <label class="sr-only" for="passwordInput">Passwort</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Passwort"
                               formControlName="password" autocomplete="off">
                    </div>
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback col-xs-pull-6">
                        <div *ngIf="form.password.errors.required">Password fehlt!</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-md-4 col-md-offset-2">
                        <button type="submit" [disabled]="loading" class="btn btn-primary">Einloggen</button>
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

