<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Verwaltung&nbsp;<i class="fa fa-lock" aria-hidden="true"></i></h2>
            </div>
        </div>
        <hr>
        <form (ngSubmit)="login()" [formGroup]="loginForm" accept-charset="UTF-8">
            <div class="form-group form-row"
                 [ngClass]="{ 'has-error': submitted && form.username.errors }">
                <div class="col-auto">
                    <label class="sr-only" for="usernameInput">Benutzername</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Benutzername"
                           formControlName="username" autocomplete="off">
                </div>
                <div *ngIf="submitted && form.username.errors" class="invalid-feedback col-auto">
                    <div *ngIf="form.username.errors.required">Benutzername fehlt!</div>
                </div>
            </div>
            <div class="form-group form-row"
                 [ngClass]="{ 'has-error': submitted && form.password.errors }">
                <div class="col-auto">
                    <label class="sr-only" for="passwordInput">Passwort</label>
                    <input type="password" class="form-control" id="passwordInput"
                           placeholder="Passwort"
                           formControlName="password" autocomplete="off">
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-auto">
                    <button type="submit" [disabled]="loading" class="btn btn-primary">Einloggen</button>
                    <span class="symbol-spacer"></span><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </div>
                <div *ngIf="submitted && form.password.errors" class="invalid-feedback col-auto">
                    <div *ngIf="form.password.errors.required">Passwort fehlt!</div>
                </div>
            </div>
        </form>
        <app-alert></app-alert>
    </div>
</section>

