<div id="alert-modal" #alertModel class="model fade">
    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Achtung</h4>
            </div>
            <div class="modal-body">
                <div [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
                    {{message.text}}
                </div>
            </div>
        </div>

    </div>
</div>
