@import '../sections';

#affiliates img {
  width: 140px;
  height: auto;
  margin: 1em auto;
}

@media (min-width: 768px) {
  #affiliates img {
    width: 170px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  #affiliates img {
    width: 200px;
    height: auto;
    margin: 2em auto;
  }
}
