<aside id="affiliates" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
                <a href="http://www.aeroclub-nrw.de/" target="_blank">
                    <img src="./assets/img/affiliates/aeroclubnrw.png" class="img-responsive"
                         alt="Aeroclub NRW Logo">
                </a>
            </div>
            <div class="col-auto mx-auto">
                <a href="http://www.dahlemer-binz.de/" target="_blank">
                    <img src="./assets/img/affiliates/binz.png" class="img-responsive"
                         align="Dahlemer Binz Logo">
                </a>
            </div>
            <!--
            <div class="col-md-3 col-sm-6">

            </div>
            <div class="col-md-3 col-sm-6">

            </div>
            -->
        </div>
    </div>
</aside>
