@import url('https://fonts.googleapis.com/css?family=Montserrat|Courgette|Droid+Serif|Roboto:300,400,700');
@import '~@ngx-gallery/core/styles/gallery';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import 'scss/buttons';
@import 'scss/footer';
@import 'scss/images';
@import 'scss/colors';
@import 'scss/mixins';

/* --- General --- */
body, html {
  overflow-x: hidden;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.loading {
  text-align: center;
  font-size: x-large;
  margin-top: 5em;
}

.bg-alt {
  background-color: $bg-alt;
}

.text-muted {
  color: $text-light;
}

p {
  font-size: 14px;
  line-height: 1.75;
  text-align: justify;
}

p.large {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}

.space-around {
  margin: .7em 0 .7em;
}

.space-bottom {
  margin-bottom: 2em;
}

.space-top {
  margin-top: 3em;
}

/**
.modal-backdrop {
  /* bug fix - no overlay
  display: none;
}*/

.btn,
.btn:focus,
.btn:active,
.btn.active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler.active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
