<section id="schooling">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ausbildung</h2>
                <h3 class="section-subheading text-muted">Alle Infos zur Ausbildung bei uns</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="item-heading" id="tryout">Schnuppern</h4>
                <p class="text-muted">
                    Zum Preis von <strong>20&euro;</strong> kannst du in Begleitung eines Fluglehrers direkt in vier
                    aufeinanderfolgenden Wochenenden loslegen. Du sitzt direkt mit am Knüppel und kannst den
                    ganzen Flug über mitfühlen, erste Flugerfahrung sammeln und dich vom Segelfliegen überzeugenlassen.
                    Sämtliche gewonnenen Kenntnisse werden dir, solltest du dich nach deiner Schnuppermitgliedschaft
                    für einen Beitritt entsscheiden, für deine weitere Ausbildung angerechnet.
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="item-heading" id="membership">Mitgliedschaft</h4>
                <p class="text-muted">
                    Der Beitritt zum Verein kostet einmalig <strong id="price-membership">160&euro;</strong>
                    (<i id="price-membership-student">80&euro;</i> für Studenten) und es fallen ab dann monatliche
                    Beiträge in der Höhe von <strong id="price-monthly">26&euro;</strong>
                    (<i id="price-monthly-student">16&euro;</i> für Studenten) an. Als Mitglied ist man voll
                    ausbildungsfähig und man ist stimmberechtigt in den Vollversammlungen des Vereins.
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="item-heading" id="pricing">Fluggebühren</h4>
                <table class="text-muted">
                    <tr>
                        <th></th>
                        <th>Schüler</th>
                        <th>Scheinpilot</th>
                    </tr>
                    <tr>
                        <th>Windenstart</th>
                        <td id="pricing-start-student">3,50&euro;</td>
                        <td id="pricing-start">4&euro;</td>
                    </tr>
                    <tr>
                        <th>Flugminute (0-180 min)</th>
                        <td id="pricing-flight-student">0,15&euro;</td>
                        <td id="pricing-flight">0,25&euro;</td>
                    </tr>
                    <tr>
                        <th>Flugminute ab 180 min</th>
                        <td>frei</td>
                        <td>frei</td>
                    </tr>
                </table>
                <p class="text-muted">
                    Flug über 3 Stunden wird mit damit belohnt, dass ab der 180. Minute keine Fluggebühren mehr erhoben
                    werden. Ein Flug mit 5 Stunden kostet also dasselbe wie 3 Stunden.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="item-heading" id="prerequisites">Ausbildungsablauf</h4>
                <p class="text-muted">
                    Der erste ist zugleich der wichtigste Ausbildungsabschnitt und vermittelt dir die Grundlagen des
                    Segelfliegens. Er wird mit der A-Prüfung abgeschlossen, deinen ersten drei Alleinflügen, von
                    vielen "alten Hasen" heute noch als das größte Erlebnis ihrer Fliegerlaufbahn bezeichnet.
                    Bis dahin werden etwa 70 Starts und Landungen benötigt. Nach den einigen Alleinflügen mit dem
                    Doppelsitzer wirst du auf eines unserer einsitzigen Flugzeuge umgeschult.
                </p>
                <p class="text-muted">
                    Im zweiten und dritten Ausbildungsabschnitt (B und C Prüfungen) wirst Du mit den Feinheiten des
                    Segelfliegens und den Grundlagen des Streckensegelfluges vertraut gemacht. Abschließend führst
                    du allein deinen ersten Streckenflug über 50 km durch. Insgesamt sind für den Erwerb des
                    Pilotenscheins für Segelflugzeuge mindestens 30 Flugstunden vorgeschrieben, von welchen mindestens
                    15 Stunden im Alleinflug durchzuführen sind.
                </p>
                <p class="text-muted">
                    Der theoretische Teil beinhaltet die Fächer Luftrecht, Navigation, Meteorologie, Technik, Verhalten
                    in besonderen Fällen und menschliches Leistungsvermögen. Die Theorie umfasst 60 Unterrichtsstunden
                    die im Winter stattfinden. Außerdem ist der Erwerb eines Flugsprechfunkzeugnisses und eines
                    Erste-Hilfe-Zeugnisses erforderlich.
                </p>
                <h4 class="item-heading" id="exam">Amtliche Prüfungen</h4>
                <p class="text-muted">
                    Die theoretische Prüfung kann bereits nach der praktischen C-Prüfung erfolgen, die finale praktische
                    Prüfung, die aus drei Flügen mit einem Mitglied der Prüfungskommission besteht, darf allenfalls
                    ein Jahr später abgelegt werden. Danach händigt dir die zuständige Behörde auf Antrag das
                    Ziel deiner Ausbildung, den Luftfahrerschein für Privatflugzeugführer, kurz GPL, aus.
                </p>
            </div>
        </div>
    </div>
</section>
