<section id="news" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Das Neueste aus dem Verein</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <ng-container *ngFor="let newsItem of news; let i = index; let o = odd;">
                        <li *ngIf="i < limit" id="{{newsItem.id}}" [ngClass]="{'timeline-inverted' : o}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive"
                                     src="data:image/png;base64,{{arrayToBase64(i)}}"
                                     alt="news-thumbnail"
                                     *ngIf="newsItem.image.length > 0">
                                <img class="img-circle img-responsive"
                                     src="./assets/img/placeholder.png"
                                     alt="news-thumbnail"
                                     *ngIf="!newsItem.image.length > 0">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{newsItem.creationDate | date:'dd. MMMM yyyy'}}</h4>
                                    <h4 class="subheading">{{newsItem.title}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        {{newsItem.content}}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <div class="text-center space-top" *ngIf="!hasMore">
                    <button class="btn btn-primary btn-xl" (click)="loadMore()">Ältere News ...</button>
                </div>
            </div>
        </div>
    </div>
</section>
