<section id="news" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Das Neueste aus dem Verein</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive"
                                 src="./assets/img/news_placeholders/gb_aktion_2016.jpg"
                                 alt="Giving Back Charity">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>AUGUST 2016</h4>
                                <h4 class="subheading">Fliegen für einen guten Zweck</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Im Sommer 2016 wurde in Kooperation mit dem Unternehmen Carglass eine Charity Aktion
                                    gestartet.
                                    Die zusammengekommene Summe von 1387,50€ wurde an das Kinderkrankenhaus Köln
                                    gespendet.
                                    <br>
                                    <a href="http://www.sobc-germany.de/actions_2016/" target="_blank">Weitere Infos</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive"
                                 src="./assets/img/placeholder.png"
                                 alt="placeholder">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>JULI 2016</h4>
                                <h4 class="subheading">Nasses Fliegerlager</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Leider war das Wetter im Juni und Juli 2016 ziemlich nass und somit ist das Fliegerlager
                                    wortwörtlich ins Wasser gefallen.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>Ältere
                                <br>News
                                <br>...</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
