<section id="editPage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Verwaltung&nbsp;<i class="fa fa-unlock" aria-hidden="true"></i></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <form name="CMS" id="cmsForm" (ngSubmit)="f.form.valid && upload()" #f="ngForm"
                      enctype="multipart/form-data" accept-charset="UTF-8">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit-select" class="text-muted">
                                    Den zu editierenden Bereich wählen
                                </label>
                                <select class="form-control" id="edit-select" name="editSelect" [(ngModel)]="editSelect">
                                    <option [ngValue]="editOptions[0]">Über Uns</option>
                                    <optgroup label="Ausbildung">
                                        <option [ngValue]="editOptions[1]">Schnuppern</option>
                                        <option [ngValue]="editOptions[2]">Mitgliedschaft</option>
                                        <option [ngValue]="editOptions[3]">Fluggebühren</option>
                                        <option [ngValue]="editOptions[4]">Infos</option>
                                    </optgroup>
                                    <option [ngValue]="editOptions[5]">Projekte</option>
                                    <!--<option [ngValue]="editOptions[6]">News</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date-picker" class="text-muted">
                                    Veröffentlichungsdatum wählen
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" [(ngModel)]="date" placeholder="yyyy-mm-dd"
                                           id="date-picker" ngbDatepicker #d="ngbDatepicker" name="datePicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="time-picker" class="text-muted">
                                    Veröffentlichungszeit wählen
                                </label>
                                <ngb-timepicker [(ngModel)]="time" [spinners]="false"
                                                id="time-picker" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content-body" class="text-muted">Neuer Inhalt</label>
                                <textarea class="form-control" id="content-body" rows="8"
                                          name="body" [(ngModel)]="content.body" #body="ngModel"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="data-upload" class="text-muted">
                                    Eine vorformatierte Datei hochladen
                                </label>
                                <br>
                                <label class="btn btn-default btn-file">
                                    Durchsuchen...
                                    <input type="file" id="data-upload"
                                           accept="*.txt, *.json, *.csv" (change)="getFile($event)">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-auto align-self-start">
                            <button type="submit" class="btn btn-primary btn-xl" id="create">Aktualisieren</button>
                        </div>
                        <div class="col-md-auto align-self-end">
                            <button class="btn btn-secondary" (click)="logout()" id="logout">Logout</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
