@import '../dashboard.component';

main > h3 {
  padding-top: 2.7em;
  margin-top: -2em;
}

main > h4 {
  color: $text-light;
}

aside {
  display: none;
}

@media (min-width: 768px) {
  aside {
    display: block;
  }
}
