<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Projekte</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <aside id="left" class="col-md-3">
                <div ng-sticky [offSet]="160" [addClass]="'is-sticky'">
                    <h5>Das Projekt LS11</h5>
                    <nav class="nav flex-column">
                        <a class="nav-link" pageScroll href="#ls11-intro">Anfänge</a>
                        <a class="nav-link" pageScroll href="#ls11-basics">Grundlagen</a>
                        <a class="nav-link" pageScroll href="#ls11-performance">Leistung</a>
                        <a class="nav-link" pageScroll href="#ls11-innovation">Innovationen</a>
                        <a class="nav-link" pageScroll href="#ls11-tried">Bewährtes</a>
                        <a class="nav-link" pageScroll href="#ls11-schooling">Schulbetrieb</a>
                        <a class="nav-link" pageScroll href="#ls11-handling">Handling</a>
                        <a class="nav-link" pageScroll href="#ls11-firstFlight">Erstflug</a>
                    </nav>
                </div>
            </aside>

            <main class="col-md-9">
                <h3 id="ls11-intro">Anfänge (2000)</h3>
                <p>
                    Das Doppelsitzerkonzept der Akaflieg gewann sehr schnell LS typische Züge. Ziel war, möglichst
                    viele Komponenten von LS-Flugzeugen zu verwenden, um den Zulassungsaufwand gering zu halten.
                    Die starke Einbindung von Wolf Lemke, er hat die Rechenaufgaben der Konstruktion übernommen,
                    hat dann auch das Einverständnis von Rolladen-Schneider bis zur Typenbezeichnung LS11
                    ermöglicht. Die Firma hatte den Serienbau der LS11 vor .
                </p>
                <p>
                    Die Realisierung des Projektes war nur durch die große Unterstützung von K. H.
                    Schneider möglich.
                </p>
                <h3 id="ls11-basics">Grundlagen</h3>
                <p>
                    Grundlage für dieses Leistungspotential ist der Flügel des Rennklasse-Flugzeugs LS6, der in der
                    Spannweite innen jeweils um 1,5m auf gesamt 18m vergrößert wurde. Der strukturelle Aufbau gleicht
                    dem der LS9 und erfolgt nahezu komplett in CfK.
                </p>
                <p>
                    Das Konzept hat bereits die Akaflieg Darmstadt für die D41 (Doppelsitzer mit nebeneinander
                    angeordneten Sitzen) umgesetzt. Die Darmstädter haben uns dankenswerter Weise die Formen überlassen.
                    Die Leistungsvermessungen hatten gezeigt, dass damit ein sehr leistungsfähiger Doppelsitzer
                    verwirklicht werden konnte. Davon konnten wir (die Kölner) nun profitieren. Nach der Fertigung des
                    LS6-Flügels in Egelsbach während der Werksferien 2001von Rolladen-Schneider entstand anschließend
                    die Spannweitenerweiterung in den Flügelformen der Darmstädter in unserer Werkstatt. Die
                    Ansteckflügel wurden in eigenen Formen bei uns gebaut.
                </p>
                <h3 id="ls11-performance">Leistungen</h3>
                <h4>Die Leistung</h4>
                <p>
                    Der neue Doppelsitzer mit Sitzen in Tandem-Anordnung sollte möglichst viel können. Gedacht war
                    an den Einsatz als Schulflugzeug, für das Streckenflugtraining und den Leistungsflug.
                    Mittels unterschiedlicher Außenflügel kann dazu die Spannweite von 18,0m über 19,0m bis 20m und
                    21m variiert werden.
                </p>
                <p>
                    Die gerechnete beste Gleitzahl reicht für diese Versionen von 46 bis 50 bei 100 bis 110km/h.
                </p>
                <h4>Die Massen</h4>
                <p>
                    Dem Gewicht der LS11 schenkten die Konstrukteure nicht allein zugunsten eines leichten
                    Bodenhandlings besonderes Augenmerk. Durch den Rückgriff auf einen an der Wurzel vergrößerten
                    Einsitzerflügel steht nur eine relativ kleine Flügelfläche zur Verfügung. Um eine vernünftige
                    minimale Flächenbelastung (38kg/m2) zu erzielen, wurde deshalb für die kleinste Version mit 18,0m
                    Spannweite und 13,3m2 Flügelfläche eine Rüstmasse von 360kg angestrebt. Das ist nicht erreicht
                    worden, was aber für Prototypen normal ist.
                </p>
                <p>
                    Aber mit dem hohem Leergewicht von 480kg haben wir schon die Masse der motorisierten Version der
                    LS11M im Test.
                    <br>
                    Ein zweites Flugzeug in der Segelflugversion wird sehr viel leichter.
                </p>
                <h3 id="ls11-innovation">Innovation</h3>
                <h4>Das Neue</h4>
                <p>
                    Der LS11 Rumpf ist bei uns entstanden. Hier musste vom Cockpit bis zum Leitwerk allerdings sehr
                    viel neu konstruiert werden. Einige Baugruppen konnten dennoch übernommen werden, so der
                    Leitwerksträger von der LS4 (ist auch von der LS9 verwendbar) und das Leitwerkskonzept der LS8.
                </p>
                <p>
                    Das Höhenleitwerk entstand als ein in der Spannweite innen vergrößertes LS8-Leitwerk. Zwischenstück
                    und Höhenruder entstanden in eigenen Formen. Das Seitenleitwerk wurde mit einer Verlängerung des
                    Leitwerksträgers und in der Höhe unten modifiziert, wodurch sich eine größere Tiefe ergibt. Auch
                    dies entstand in eigenen Formen. Die Höhe wurde damit in einer für die Leitwerksmontage komfortablen
                    Höhe gehalten.
                </p>
                <h4>Das Große</h4>
                <p>
                    Die Auslegung des Cockpits (gefertigt in CFK und Aramid) richteten wir (die Akaflieger) ganz
                    konsequent auf die Aufnahme von 2-Meter-Piloten aus.
                </p>
                <p>
                    Sie finden jetzt tatsächlich bequem Platz, ohne sich gegenseitig mit Füßen und Ellbogen zu stören.
                </p>
                <p>
                    Und es können 240kg eingeladen werden. Dabei entspricht der vordere und hintere Platz dem in der
                    LS4.
                </p>
                <h4>Das Ausgefallene</h4>
                <p>
                    Die große Haube ist einteilig ausgeführt und trägt beide Instrumentenpilze. Sie öffnet
                    AKAFLIEG-KÖLN-typisch nach hinten oben und wird mittels dreier Gasdruckfedern schwebend gehalten
                    (Federkraft = 4500N).
                </p>
                <p>
                    Die Alltagstauglichkeit dieses für solch große Hauben sehr ungewöhnlichen Klappkonzepts hat die
                    Akaflieg mit Modifikationen dreier SF-34 bereits bewiesen. Der Gelenkarm, ein CFK-Teil, ist so
                    ausgeführt, dass er am Boden auch bei einem Wind von 75 km/h noch hält, im Notöffnungsfall im Flug
                    aber bricht, denn dann muss die Haube wegfliegen und den Notausstieg aus dem Cockpit völlig
                    freigeben. Die viel schwächeren Leitungsstränge zu den Instrumenten-Panels werden bei den dann
                    auftretenden Kräften über Kupplungen getrennt (Friebestecker für die Schläuche ohne Verschraubung,
                    VW-Stecker für den Strom und Buchsenstecker ohne Sicherung für die Antenne). Die
                    Notabwurf-Funktionssicherheit wurde am Boden erfolgreich getestet. Ein Bruchversuch für das
                    Haubengelenk nach Vorgabe des LBA führte zu der EMZ.
                </p>
                <h3 id="ls11-tried">Bewährtes</h3>
                <p>
                    Das Flugzeug steht auf einem einziehbaren sechs Zoll großen gefederten Hauptrad, das sich fast im
                    Leergewichtsschwerpunkt befindet. Diese Positionierung macht ein Bugrad erforderlich, das ebenfalls
                    einziehbar und gefedert ausgelegt ist und vom Piloten über einen Hebel zusammen mit dem Hauptrad
                    betätigt wird. Andererseits garantiert die Lage des Hauptrads ein einfaches Bodenhandling der LS11.
                    Die Fahrwerkkonstruktion ist aus CFK (auch diese Konstruktion ist bei uns schon 20 Jahre im Einsatz
                    als EMZ). Auf einen Kuller kann verzichtet werden.
                </p>
                <p>
                    Das Ein- und Aussteigen ist besonders für die kleinen Piloten bei einer so niederen Bordwand ein
                    Genuss.
                </p>
                <h3 id="ls11-schooling">Schulbetrieb</h3>
                <p>
                    Für den Einsatz im Schulbetrieb muss natürlich auch eine möglichst geringe Mindestgeschwindigkeit
                    angestrebt werden. Wolf Lemke und wir haben deshalb eine LS- untypische Flügelsteuerung realisiert.
                    So wurden Querruder und Wölbklappen nicht als Flaperon kombiniert, sondern ähnlich wie bei der ASW
                    27 überlagert. Bei der Landung ermöglicht dies eine Extremposition (max. 40 Grad) der Wölbklappe,
                    während die Querruder in eine +3 Grad-Stellung zurückgefahren werden. Dadurch wird eine sehr
                    geringe Anfluggeschwindigkeiten von 70 bis 80km/h bei sehr guter Steuerbarkeit erreicht. Für die
                    Steuerung des Anflugwinkels gibt es doppelstöckige Bremsklappen auf der Flügeloberseite mit einer
                    Spannweite von 1,7m. Wir erreichen 5m Sinken bei 90km/h. Die Steuerungsteile sind fast komplett aus
                    LS -Beständen gefertigt.
                </p>
                <h3 id="ls11-handling">Handling</h3>
                <h4>Flugverhalten</h4>
                <p>
                    Der Zeitplan des LS11-Projekts sah vor, das Flugzeug auf der AERO-2005 zu präsentieren. „Aber nur“,
                    so die Projektleitung „wenn wir kein Provisorium ausstellen müssen.“ Nach mehreren Nachtschichten
                    stellten wir die fast flugfertige LS11 auf dem Stand von Walter Eisele aus.
                </p>
                <p>
                    Fliegen sollte die LS11 noch im Jahr 2005. Im Jahr 2006 wollte die Akaflieg mit ihren Aktiven dann
                    schon die Breitenerprobung im Vereinsschulbetrieb auf der Dahlemer Binz, in der Eifel, aufnehmen.
                    Bis dahin war und ist jedenfalls noch einiges an Erprobungsarbeit zu leisten und das ist auch gut
                    so.
                </p>
                <p>
                    Die Flugerprobung für die Einzelstückzulassung wird fortgesetzt. An der aerodynamischen Konzeption
                    der LS11 ist und wird nichts mehr geändert. Das Flugzeug hat all unsere Erwartungen erfüllt. Es
                    ist eine große LS4 geworden mit den Leistungen der LS8.
                </p>
                <h4 id="ls11-montage">Montage</h4>
                <p>
                    Die Verbindungen der Ruder erfolgen bei der Montage zwangsweise. Die Flügelverbindung erfolgt wie
                    bei der LS8 durch zwei Bolzen mit einem Durchmesser von 40mm (Zunge-Gabel). Beim Höhenruder halten
                    wir (die Kölner) uns allerdings noch ein konstruktives Hintertürchen offen. Der Montagebeschlag ist
                    so ausgeführt, dass der die Flugeigenschaften ganz entscheidend mitbestimmende Einstellwinkel -2
                    bis +2 Grad in der Erprobung verändert werden kann.
                </p>
                <h3 id="ls11-firstFlight">Erstflug</h3>
                <h4>Erstflug : 5.11.2005, 11:51 bis 12:11</h4>
                <p>
                    Historische 20 Minuten von Siegfried Piontkowski
                </p>
                <h4>Aufregung</h4>
                <p>
                    Seit dem 28.10.2005 liegt die Flugzulassung für die LS11 vor. Vergessen sind die sechs Jahre mit
                    den vielen geleisteten Arbeitstunden. Wir Akaflieger treffen uns auf der Dahlemer Binz mit
                    eingeladenen Freunden zum Erstflug der LS11. Das Wetter ist bescheiden, die Wolkenuntergrenze
                    liegt bei 400m. Eine letzte Fluggewichtschwerpunktwägung mit den Testpiloten ergibt einen
                    Heckballast von 20kg Wasser. Noch eine Vorflugkontrolle und es kommt das Kommando:
                </p>
                <h4>An den Start!</h4>
                <p>
                    Die Flugleitung ist über den Erstflug informiert und erlaubt uns den Startaufbau auf der
                    Asphaltbahn. Über Funk hält sie uns den Luftraum frei.
                </p>
                <p>
                    Um uns noch ein wenig zu sammeln, schieben wir das Flugzeug von Hand an den Start. Unser
                    Schleppflugzeug steht schon bereit. Eine letzte Außenkontrolle und Wolf Lemke und ich steigen ein.
                    Noch die Innenkontrolle und die Haube wird geschlossen. Die Geräusche von außen kommen nur noch
                    gedämpft an. Das Schleppseil wird vorne eingeklinkt und das Schleppflugzeug setzt sich in Bewegung.
                    Wir rollen und die Fahrt steigt auf 80km/h.
                </p>
                <p>
                    Wolf zieht die Wölbklappen auf +15 Grad und wir schweben, wir steigen, wir fliegen. In einer
                    Wolkenlücke geht es bis auf 500m. Im Schlepp lassen sich schon einige Flugeigenschaften erkennen.
                    Die Vereinigung aller guten Flugeigenschaften von LS4, LS6 und LS8 ist uns gelungen. Das ist uns
                    sicher noch nicht beim Erstflug klar geworden. Aber hier deutete es sich schon an. Im freien Flug
                    machten wir einen Landetest. Es folgte der Schnellflug und der Test der Wendigkeit. Der Seitenfaden
                    wurde genau eingestellt und wir bereiteten uns auf die Landung vor. Wir fühlten uns in diesem
                    Flugzeug schon sehr zu Hause. Fahrwerk ausfahren, Landeklappen auf +40 Grad stellen und mit den
                    Bremsklappen den Gleitpfad halten. Es gelang uns eine Punktlandung. Als das Flugzeug zum Stehen
                    kam blieben wir beide noch eine Zeit still sitzen, um zu verinnerlichen, dass ein neues Flugzeug
                    die Luft der Welt erblickt hat und alle die da mitgewirkt haben, waren dabei. Wir stiegen aus und
                    umarmten uns als Zeichen der Anerkennung und wir freuten uns mit allen, die an diesem Werk
                    beteiligt waren.
                </p>
            </main>

        </div>
    </div>
</section>
