@import '../dashboard.component';

main > h3 {
  margin-top: 1em;
}

main > h4 {
  color: $text-light;
  text-transform: none;
  text-indent: 20px;
}

main > p {
  margin-left: 20px;
}

aside {
  display: none;
}

@media (min-width: 768px) {
  aside {
    display: block;
  }
}
